.navbar-width{
    width: 100%;
}
.nav-icons{
    list-style-type: none !important;
    display: flex !important;
}
.nav-icons-1{
    font-size: 32px;
    font-weight: 700;
    padding-right: 20px;
}

.navbar-nav{
    font-family: "Poppins";
    font-weight: 600;
}
.input-1{
    width: 50%;
}
@media screen and (max-width:992px) {
    .navicon23{
        display: none !important;
    }
}
