.navbar-width {
  width: 100%;
}
.nav-icons {
  list-style-type: none !important;
  display: flex !important;
}
.nav-icons-1 {
  font-size: 32px;
  font-weight: 700;
  padding-right: 20px;
}
.navbar-nav {
  font-family: "Poppins";
  font-weight: 600;
}
.input-1 {
  width: 50%;
}
.nav-link {
  color: #000 !important;
  font-size: 20px !important;
  font-weight: 28px !important;
  font-family: "Poppins" sans-serif !important;
  height: 72px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .navicon23 {
    display: none !important;
  }
}
